@font-face {
  font-family: "gd-sage";
  src: url("https://res.cloudinary.com/dblq992uw/raw/upload/v1729089765/Public/fonts/GDSage-Bold_vp6psc.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
